body {
	background-color: pink;
	color: black;
}

	.outside {
		color: white;
	}
	
	.hobbies {
		background-color: pink;
	}
	.p{
		font-family:Times New Roman;
		font-size:22px;
	}
	.title {
		height:60px;
		width:100px;

	}
	.content {

	}
	.sidebar{
		background-color: lightblue;

	}
}